@model MoviesFair.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h5 class="mb-3">Create New Movie</h5>
<hr />

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="card p-4">
        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

        <div class="row">
  
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label fw-bold">Movie Name</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="GenreId" class="form-label fw-bold">Genre</label>
                    <select asp-for="GenreId" class="form-select" asp-items="ViewBag.GenreId"></select>
                </div>

                <div class="mb-3">
                    <label asp-for="CategoryId" class="form-label fw-bold">Category</label>
                    <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
                </div>

                <div class="mb-3">
                    <label asp-for="MovieImages" class="form-label fw-bold">Movie Images</label>
                    <input asp-for="MovieImages" class="form-control" type="file" multiple />
                    <span asp-validation-for="MovieImages" class="text-danger"></span>
                </div>
            </div>

 
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Description" class="form-label fw-bold">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Sourcelink" class="form-label fw-bold">Source Link</label>
                    <input asp-for="Sourcelink" class="form-control" />
                    <span asp-validation-for="Sourcelink" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Language" class="form-label fw-bold">Language</label>
                    <input asp-for="Language" class="form-control" />
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Year" class="form-label fw-bold">Release Year</label>
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="mt-4 d-flex  ">
            <input type="submit" value="Create" class="btn btn-primary btn-sm" />
            <a class="btn btn-info btn-sm" style="margin-left:10px" asp-action="Index">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



