@model MoviesFair.Models.Category

@{
    ViewData["Title"] = "Details";
}


<div>
    <h5>Movie Category</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm  btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-sm  btn-primary" style="margin-left:10px" asp-action="Index">Back to List</a>
</div>