html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.search-container {
    display: flex;
    justify-content: center;
}

.search-form {
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
}

.select-container,
.input-container,
.button-container {
    margin-right: 10px;
}

.select-option,
input[type="text"],
button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select-option {
    min-width: 150px;
}

.input-container input[type="text"] {
    flex: 1;
}

@media (max-width: 768px) {
    .input-group {
        flex-wrap: wrap;
    }

    .select-container,
    .input-container,
    .button-container {
        margin-bottom: 10px;
        margin-right: 0;
    }
}

.pagination {
    display: inline-block;
}

    .pagination a {
        color: #007bff;
        border: 1px solid #007bff;
        padding: 5px 10px;
        margin: 0 2px;
        text-decoration: none;
    }

        .pagination a:hover {
            background-color: #007bff;
            color: #fff;
        }

    .pagination .active {
        background-color: #007bff;
        color: #fff;
        border: 1px solid #007bff;
    }

    .pagination .disabled {
        color: #ccc;
        cursor: not-allowed;
    }

    .pagination .previous,
    .pagination .next {
        padding: 5px 10px;
        margin: 0 2px;
    }

        .pagination .previous.disabled,
        .pagination .next.disabled {
            pointer-events: none;
            color: #ccc;
        }

    .pagination .ellipsis {
        padding: 5px 10px;
        margin: 0 2px;
        font-weight: bold;
    }

