@model MoviesFair.Models.View_Model.IndexPageViewModel

<div class="container mt-2">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="custom-search-container">
                <form method="post" action="@Url.Action("Index", "Home")" class="custom-search-form">
                    <div class="custom-input-group d-flex">
                        <div class="custom-select-container">
                            <select class="custom-select-option" name="GenreId">
                                <option selected value="0">Genre List</option>
                                @if (ViewData["GenreTypeSearchId"] is SelectList genreList)
                                {
                                    foreach (var genre in genreList)
                                    {
                                        <option value="@genre.Value">@genre.Text</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="custom-input-container d-flex" style=" width:400px;">
                            <input placeholder="Search Movies..." type="text" name="searchString" class="custom-search-input" style=" width:400px;">
                       
                        <div class="custom-button-container" style="margin-left:20px">
                            <button type="submit" class="custom-search-button">
                                <i class="fa fa-search"></i>
                            </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <partial name="_MovieListPartial" model="Model.Movies.ToList()" title="All Movies" />

    <h5 class="mt-2">Action Movies</h5>

    <partial name="_MovieListPartial" model="Model.Action.ToList()" title="Action Movies" />
    <h5 class="mt-2">Animation Movies</h5>
    <partial name="_MovieListPartial" model="Model.Animation.ToList()" title="Animation Movies" />
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
