@model MoviesFair.Models.Genre

@{
    ViewData["Title"] = "Details";
}

<h5>Details</h5>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2 ">
            @Html.DisplayNameFor(model => model.GenreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm  btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-sm  btn-primary" style="margin-left:10px" asp-action="Index">Back to List</a>
</div>
